acres
amqp
asgiref
async-timeout
bcrypt
billiard
blinker
Brlapi
celery
certifi
chardet
ci-info
click
click-didyoumean
click-plugins
click-repl
colorama
command-not-found
configobj
configparser
contourpy
crispy-bootstrap5
cryptography
cupshelpers
cycler
dbus-python
defer
distro
distro-info
Django
django-cleanup
django-crispy-forms
duplicity
etelemetry
fasteners
filelock
fitz
fonttools
fsspec
future
httplib2
idna
importlib-metadata
importlib_resources
isodate
jeepney
Jinja2
joblib
keyring
kiwisolver
kombu
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
looseversion
louis
lxml
macaroonbakery
Mako
MarkupSafe
matplotlib
monotonic
more-itertools
mpmath
netifaces
networkx
nibabel
nipype
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
oauthlib
olefile
opencv-python
packaging
pandas
paramiko
pathlib
pexpect
Pillow
polars
polars-runtime-32
prompt_toolkit
protobuf
prov
psutil
psycopg2-binary
ptyprocess
puremagic
pycairo
pycups
pydot
PyGObject
PyJWT
pymacaroons
PyMuPDF
PyMuPDFb
PyNaCl
pyparsing
pyRFC3339
pyTelegramBotAPI
python-apt
python-dateutil
python-debian
python-decouple
python-docx
pytz
pyxdg
pyxnat
PyYAML
rdflib
redis
reportlab
requests
scikit-learn
scipy
seaborn
SecretStorage
simplejson
six
sqlparse
ssh-import-id
sympy
systemd-python
telebot
threadpoolctl
torch
torchvision
traits
triton
typing_extensions
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
ultralytics
ultralytics-thop
unattended-upgrades
urllib3
usb-creator
vine
wadllib
wcwidth
xdg
xkit
zipp
